body{
    background-color: cornflowerblue;
}
.navigation{
    max-width: 1400px;
    margin: 0 auto;
}
.container-navigation{
    width: 100%;
    background-color: #000;
    display: flex;
	justify-content: space-between;
}
.logo-navigation{
    font-family: Raleway;
    font-size: 30px;
    line-height: 35px;
    color:  #fff;
    margin: 0px 10px 0px 110px;
}
.it-logo{
    color: #EC7979;
    line-height: 70px;
    
}
.menu-navigation{
    line-height: 70px;
}
.link-navigation{
    text-decoration: none;
    font-family: Open Sans;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 48px; 
}
.link-navigation:last-child{
    margin-right: 108px;
}




.header{
    max-width: 1400px;
    margin: 0 auto;
    background-image: url(../IMG/background-1.png);
    background-size: cover;
    display: flex;
}
.background-header{
    background: rgba(0, 0, 0, 0.45);
    
}
.text-header{
    width: 50%;
    margin-left: 110px;
    color:  #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.ax-header{
    font-family: Roboto;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    padding-top: 110px;
}
.it-header{
    color: #EC7979;
}
.modern{
    font-family: Raleway;
    font-size: 36px;
    padding: 32px 0px 60px 0px;
    text-transform: uppercase;
}
.line-header{
    height: 1px;
	width: 64px;
	background-color: #fff;
	margin-bottom: 39px;
}
.lorem-header{
    font-family: Raleway;
    color: rgba(255, 255, 255, 0.8);
    max-width: 40%;
}
.download{
    text-decoration: none;
    border: 2px solid #fff;
    width: 135px;
    height: 42px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    color:  #fff;
    margin: 39px 0px 101px 0px;
}
.download:hover{
    color: black;
	background-color: #fff;
}




.form-header{
    max-width: 370px;
    max-height: 370px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;

}
.rectangle-form{
    max-width: 370px;
    max-height: 56px;
    color: #333;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 8px;
}
.free{
    color: #EC7979 ;
    text-transform: uppercase;
}
.original-form{
    max-width: 370px;
    max-height: 370px;
    display: flex;
}
.input-form{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 14px;
    line-height: 38px;
    width: 252px;
}
/* .button-form{ */
    width: 100%;
	text-align: center;
	border: none;
	color: white;
    background: #EC7979;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 41px;
    /* top: 100px */
}