.content{
    /* position: relative; */
    margin: auto;
    width: 1400px;
    height: 1021px;
    background: #FFFFFF;
}

.header{
    position: relative;
    width: 1400px;
    height: 250px;
    top: 0px;
}

h2{ 
    position: relative;
    top: 100px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-align: center;
}

.line{
    position: relative;
    width: 64px;
    height: 1px;
    left: 668px;
    top: 143px;
    border: 1px solid #E72424;
}

.level-1{
    position: relative;
    top: 180px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    text-align: center;
}

.main{
    width: 1400px;
    height: 670px;
}

.first{
    width: 1400px;
    height: 345px;
    left: 0px;
}

.block-1{
    width: 350px;
    height: 225px;
    left: 143px;
    top: 31px;
}

.second{
    /* display: block; */
    width: 1400px;
    height: 325px;
    background-image: url(../IMG/Background.png);
}

.axure{
    position: relative;
    top: 75px;
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.line-2{

}

.backgroun{
    background:rgba(0, 0, 0, 0.65);
    height: 326px; 
    width: 1400px;  
}

.footer{
    width: 1400px;
    height: 101px;
    left: 0px;
    top: 920px;
    background: #000000;
}

.network{
    position: relative;
    width: 317px;
    height: 23px;
    left: 541px;
    top: 30px;
}

.chip{
    margin: 45px auto 0px;
    width: 130px;
    height: 15px;
    top: 45px;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}