.content{
    margin: auto;
    width: 1400px;
    height: 1021px;
    background: #FFF;
}
.header{
    position: relative;
    width: 1400px;
    height: 250px;
    top: 0px;
}
h2{ 
    position: relative;
    top: 100px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-align: center;
}
.line{
    position: relative;
    width: 64px;
    top: 143px;
    margin: 0 auto;
    border: .5px solid #E72424;
}
.level-1{
    position: relative;
    top: 180px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    text-align: center;
}
.main{
    width: 1400px;
    height: 670px;
}
.first{
    /* display: flex; */
    /* display: inline-block; */
    width: 1400px;
    height: 344px;
    /* left: 0px; */
    /* justify-content: center; */
}
.block-1{
    display: inline-block;
    width: 350px;
    height: 225px;
    margin: 31px 31px 88px 143px;
}
.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #e72424;
    margin: 0 auto;
}
.lamp{
    background-image: url(../IMG/img1.png);
    position: relative;
    width: 23px;
    height: 30px;
    margin: 0 auto;
    top: 20px;
}
.Thoughtful{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    text-align: center;
    position: relative;
    top: 30px;
}
.Lorem{
    width: 350px;
    height: 60px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    position: relative;
    top: 75px;
}
.block-2{
    display: inline-block;
    width: 350px;
    height: 225px;
    margin: 31px auto 88px;
}
.keyboard{
    position: relative;
    background-image: url(../IMG/img2.png);
    width: 37px;
    height: 26px;
    margin: 0 auto;
    top: 22px;
}
.block-3{
    display: inline-block;
    width: 350px;
    height: 225px;
    margin: 31px 137px 88px 31px;
}
.lighthing{
    position: relative;
    background-image: url(../IMG/img3.png);
    width: 21px;
    height: 33px;
    margin: 0 auto;
    top: 19px;
}
.second{
    width: 1400px;
    height: 325px;
    background-image: url(../IMG/Background.png);
}
.axure{
    position: relative;
    top: 75px;
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFF;
}
.line-2{
    position: relative;
    width: 64px;
    margin: 0 auto;
    top: 110px;
    border: .5px solid #FFF;
}
.gorgeous{
    position: relative;
    top: 152px;
    font-family: Raleway;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.backgroun{
    background:rgba(0, 0, 0, 0.65);
    height: 325px; 
    width: 1400px;
}
.batton{
    border: 1px solid #FFF;
    position: relative;
    width: 135px;
    height: 42px;
    margin: 0 auto;
    top: 190px;
    
}
.download{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 11px;
}
.footer{
    width: 1400px;
    height: 101px;
    left: 0px;
    top: 920px;
    background: #000000;
}
.network{
    position: relative;
    width: 317px;
    height: 23px;
    left: 541px;
    top: 30px;
}
.chip{
    margin: 45px auto 0px;
    width: 130px;
    height: 15px;
    top: 45px;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}