*{
    color:white;
}

.content{
    background: url(../IMG/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}

p{
    text-align: justify;
}
.hr{
    color: white 3px;
}

.coffee{
    margin-left: 150px;
    font-size: 20px;
}